# Downloading Market and Fundamental Data with `yfinance`

## Imports & Settings

In [12]:
import pandas as pd
import yfinance as yf

## How to work with a Ticker object

In [29]:
symbol = 'MSFT'
ticker = yf.Ticker(symbol)

### Show ticker info

In [30]:
pd.Series(ticker.info).head(20)

zip                                                                        98052
sector                                                                Technology
fullTimeEmployees                                                         144000
longBusinessSummary            Microsoft Corporation develops, licenses, and ...
city                                                                     Redmond
phone                                                               425-882-8080
state                                                                         WA
country                                                            United States
companyOfficers                                                               []
website                                                 http://www.microsoft.com
maxAge                                                                         1
address1                                                       One Microsoft Way
fax                                                                 425-706-7329
industry                                                 Software—Infrastructure
previousClose                                                             152.32
regularMarketOpen                                                          152.1
twoHundredDayAverage                                                     137.274
trailingAnnualDividendYield                                            0.0124081
payoutRatio                                                               0.3472
volume24Hr                                                                  None
dtype: object

### Get market data

In [103]:
data = ticker.history(period='5d',
                      interval='1m',
                      start=None,
                      end=None,
                      actions=True,
                      auto_adjust=True,
                      back_adjust=False)
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1747 entries, 2019-11-22 09:30:00-05:00 to 2019-11-29 13:00:00-05:00
Data columns (total 7 columns):
Open            1747 non-null float64
High            1747 non-null float64
Low             1747 non-null float64
Close           1747 non-null float64
Volume          1747 non-null int64
Dividends       1747 non-null int64
Stock Splits    1747 non-null int64
dtypes: float64(4), int64(3)
memory usage: 109.2 KB

### View company actions

In [32]:
# show actions (dividends, splits)
ticker.actions

            Dividends  Stock Splits
Date
1987-09-21       0.00           2.0
1990-04-16       0.00           2.0
1991-06-27       0.00           1.5
1992-06-15       0.00           1.5
1994-05-23       0.00           2.0
...               ...           ...
2018-11-14       0.46           0.0
2019-02-20       0.46           0.0
2019-05-15       0.46           0.0
2019-08-14       0.46           0.0
2019-11-20       0.51           0.0

[73 rows x 2 columns]

In [33]:
ticker.dividends

Date
2003-02-19    0.08
2003-10-15    0.16
2004-08-23    0.08
2004-11-15    3.08
2005-02-15    0.08
              ...
2018-11-14    0.46
2019-02-20    0.46
2019-05-15    0.46
2019-08-14    0.46
2019-11-20    0.51
Name: Dividends, Length: 64, dtype: float64

In [34]:
ticker.splits

Date
1987-09-21    2.0
1990-04-16    2.0
1991-06-27    1.5
1992-06-15    1.5
1994-05-23    2.0
1996-12-09    2.0
1998-02-23    2.0
1999-03-29    2.0
2003-02-18    2.0
Name: Stock Splits, dtype: float64

### Annual and Quarterly Financial Statement Summary

In [37]:
ticker.financials

,2019-06-30,2018-06-30,2017-06-30,2016-06-30
Research Development,1.6876e+10,1.4726e+10,1.3037e+10,1.1988e+10
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,4.3688e+10,3.6474e+10,2.9901e+10,2.5639e+10
Minority Interest,None,None,None,None
Net Income,3.924e+10,1.6571e+10,2.5489e+10,2.0539e+10
Selling General Administrative,2.3098e+10,2.2223e+10,1.9942e+10,1.9198e+10
Gross Profit,8.2933e+10,7.2007e+10,6.231e+10,5.8374e+10
Ebit,4.2959e+10,3.5058e+10,2.9331e+10,2.7188e+10
Operating Income,4.2959e+10,3.5058e+10,2.9331e+10,2.7188e+10
Other Operating Expenses,None,None,None,None
Interest Expense,-2.686e+09,-2.733e+09,-2.222e+09,-1.243e+09
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,4.448e+09,1.9903e+10,4.412e+09,5.1e+09
Total Revenue,1.25843e+11,1.1036e+11,9.6571e+10,9.1154e+10
Total Operating Expenses,8.2884e+10,7.5302e+10,6.724e+10,6.3966e+10
Cost Of Revenue,4.291e+10,3.8353e+10,3.4261e+10,3.278e+10
Total Other Income Expense Net,7.29e+08,1.416e+09,5.7e+08,-1.549e+09
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,3.924e+10,1.6571e+10,2.5489e+10,2.0539e+10
Net Income Applicable To Common Shares,3.924e+10,1.6571e+10,2.5489e+10,2.0539e+10

In [38]:
ticker.quarterly_financials

,2019-09-30,2019-06-30,2019-03-31,2018-12-31
Research Development,4.565e+09,4.513e+09,4.316e+09,4.07e+09
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,1.2686e+10,1.2596e+10,1.0486e+10,1.0385e+10
Minority Interest,None,None,None,None
Net Income,1.0678e+10,1.3187e+10,8.809e+09,8.42e+09
Selling General Administrative,5.398e+09,6.387e+09,5.744e+09,5.72e+09
Gross Profit,2.2649e+10,2.3305e+10,2.0401e+10,2.0048e+10
Ebit,1.2686e+10,1.2405e+10,1.0341e+10,1.0258e+10
Operating Income,1.2686e+10,1.2405e+10,1.0341e+10,1.0258e+10
Other Operating Expenses,None,None,None,None
Interest Expense,-6.37e+08,-6.69e+08,-6.71e+08,-6.72e+08
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,2.008e+09,-5.91e+08,1.677e+09,1.965e+09
Total Revenue,3.3055e+10,3.3717e+10,3.0571e+10,3.2471e+10
Total Operating Expenses,2.0369e+10,2.1312e+10,2.023e+10,2.2213e+10
Cost Of Revenue,1.0406e+10,1.0412e+10,1.017e+10,1.2423e+10
Total Other Income Expense Net,0,1.91e+08,1.45e+08,1.27e+08
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,1.0678e+10,1.3187e+10,8.809e+09,8.42e+09
Net Income Applicable To Common Shares,1.0678e+10,1.3187e+10,8.809e+09,8.42e+09

### Annual and Quarterly Balance Sheet

In [40]:
ticker.balance_sheet

,2019-06-30,2018-06-30,2017-06-30,2016-06-30
Intangible Assets,7.750000e+09,8.053000e+09,1.010600e+10,3.733000e+09
Total Liab,1.842260e+11,1.761300e+11,1.626010e+11,1.214710e+11
Total Stockholder Equity,1.023300e+11,8.271800e+10,8.771100e+10,7.199700e+10
Other Current Liab,4.586000e+10,3.819500e+10,3.087900e+10,3.397200e+10
Total Assets,2.865560e+11,2.588480e+11,2.503120e+11,1.934680e+11
Common Stock,7.852000e+10,7.122300e+10,6.931500e+10,6.817800e+10
Other Current Assets,1.013300e+10,6.855000e+09,5.183000e+09,6.091000e+09
Retained Earnings,2.415000e+10,1.368200e+10,1.776900e+10,2.282000e+09
Other Liab,3.569900e+10,3.570700e+10,2.298600e+10,2.079600e+10
Good Will,4.202600e+10,3.568300e+10,3.512200e+10,1.787200e+10
Treasury Stock,-3.400000e+08,-2.187000e+09,6.270000e+08,1.537000e+09
Other Assets,1.472300e+10,7.442000e+09,6.076000e+09,3.409000e+09
Cash,1.135600e+10,1.194600e+10,7.663000e+09,6.510000e+09
Total Current Liabilities,6.942000e+10,5.848800e+10,5.574500e+10,5.935700e+10
Deferred Long Term Asset Charges,7.536000e+09,1.369000e+09,2.480000e+08,2.190000e+08
Short Long Term Debt,5.516000e+09,3.998000e+09,1.049000e+09,NaN
Other Stockholder Equity,-3.400000e+08,-2.187000e+09,6.270000e+08,1.537000e+09
Property Plant Equipment,4.385600e+10,3.614600e+10,3.028900e+10,1.835600e+10
Total Current Assets,1.755520e+11,1.696620e+11,1.626960e+11,1.396600e+11
Long Term Investments,2.649000e+09,1.862000e+09,6.023000e+09,1.043800e+10
Net Tangible Assets,5.255400e+10,3.898200e+10,4.248300e+10,5.039200e+10
Short Term Investments,1.224760e+11,1.217180e+11,1.252380e+11,1.065310e+11
Net Receivables,2.952400e+10,2.648100e+10,2.243100e+10,1.827700e+10
Long Term Debt,6.666200e+10,7.224200e+10,7.607300e+10,4.055700e+10
Inventory,2.063000e+09,2.662000e+09,2.181000e+09,2.251000e+09
Accounts Payable,9.382000e+09,8.617000e+09,7.390000e+09,6.898000e+09

In [41]:
ticker.quarterly_balance_sheet

,2019-09-30,2019-06-30,2019-03-31,2018-12-31
Intangible Assets,7.508000e+09,7.750000e+09,8.103000e+09,8.482000e+09
Total Liab,1.728940e+11,1.842260e+11,1.684170e+11,1.667310e+11
Total Stockholder Equity,1.060610e+11,1.023300e+11,9.486400e+10,9.212800e+10
Other Current Liab,3.989600e+10,4.586000e+10,3.229500e+10,3.294900e+10
Total Assets,2.789550e+11,2.865560e+11,2.632810e+11,2.588590e+11
Common Stock,7.888200e+10,7.852000e+10,7.779100e+10,7.755600e+10
Other Current Assets,7.578000e+09,1.013300e+10,7.131000e+09,7.560000e+09
Retained Earnings,2.724000e+10,2.415000e+10,1.833800e+10,1.658500e+10
Other Liab,3.417800e+10,3.569900e+10,3.647100e+10,3.611200e+10
Good Will,4.211300e+10,4.202600e+10,4.186100e+10,4.157700e+10
Treasury Stock,-6.100000e+07,-3.400000e+08,-1.265000e+09,-2.013000e+09
Other Assets,1.445500e+10,1.472300e+10,1.025800e+10,1.012900e+10
Cash,1.311700e+10,1.135600e+10,1.121200e+10,6.638000e+09
Total Current Liabilities,5.811800e+10,6.942000e+10,5.386100e+10,5.031800e+10
Short Long Term Debt,3.017000e+09,5.516000e+09,6.515000e+09,3.516000e+09
Other Stockholder Equity,-6.100000e+07,-3.400000e+08,-1.265000e+09,-2.013000e+09
Property Plant Equipment,4.629900e+10,4.385600e+10,4.076900e+10,3.952300e+10
Total Current Assets,1.658960e+11,1.755520e+11,1.598870e+11,1.568740e+11
Long Term Investments,2.684000e+09,2.649000e+09,2.403000e+09,2.274000e+09
Net Tangible Assets,5.644000e+10,5.255400e+10,4.490000e+10,4.206900e+10
Short Term Investments,1.234920e+11,1.224760e+11,1.203240e+11,1.210350e+11
Net Receivables,1.908700e+10,2.952400e+10,1.926900e+10,1.968000e+10
Long Term Debt,6.647800e+10,6.666200e+10,6.658500e+10,6.965300e+10
Inventory,2.622000e+09,2.063000e+09,1.951000e+09,1.961000e+09
Accounts Payable,8.574000e+09,9.382000e+09,7.544000e+09,7.563000e+09
Deferred Long Term Asset Charges,NaN,7.536000e+09,NaN,NaN

### Annual and Quarterly Cashflow Statement

In [42]:
ticker.cashflow

,2019-06-30,2018-06-30,2017-06-30,2016-06-30
Investments,5.400000e+08,6.557000e+09,-1.251100e+10,-1.441700e+10
Change To Liabilities,4.694000e+09,7.070000e+09,3.901000e+09,2.653000e+09
Total Cashflows From Investing Activities,-1.577300e+10,-6.061000e+09,-4.678100e+10,-2.395000e+10
Net Borrowings,-4.000000e+09,-1.020100e+10,3.145900e+10,1.828300e+10
Total Cash From Financing Activities,-3.688700e+10,-3.359000e+10,8.408000e+09,-8.393000e+09
Change To Operating Activities,-1.542000e+09,-4.590000e+08,3.490000e+08,-2.907000e+09
Issuance Of Stock,1.142000e+09,1.002000e+09,7.720000e+08,6.680000e+08
Net Income,3.924000e+10,1.657100e+10,2.548900e+10,2.053900e+10
Change In Cash,-5.900000e+08,4.283000e+09,1.153000e+09,9.150000e+08
Repurchase Of Stock,-1.954300e+10,-1.072100e+10,-1.178800e+10,-1.596900e+10
Effect Of Exchange Rate,-1.150000e+08,5.000000e+07,1.900000e+07,-6.700000e+07
Total Cash From Operating Activities,5.218500e+10,4.388400e+10,3.950700e+10,3.332500e+10
Depreciation,1.160000e+10,9.900000e+09,7.800000e+09,5.878000e+09
Dividends Paid,-1.381100e+10,-1.269900e+10,-1.184500e+10,-1.100600e+10
Change To Inventory,5.970000e+08,-4.650000e+08,5.000000e+07,6.000000e+08
Change To Account Receivables,-2.812000e+09,-3.862000e+09,-1.216000e+09,5.620000e+08
Other Cashflows From Financing Activities,-6.750000e+08,-9.710000e+08,-1.900000e+08,-3.690000e+08
Change To Netincome,-2.521000e+09,-3.054000e+09,1.342000e+09,6.229000e+09
Capital Expenditures,-1.392500e+10,-1.163200e+10,-8.129000e+09,-8.343000e+09
Other Cashflows From Investing Activities,NaN,-9.800000e+07,-1.970000e+08,2.030000e+08

In [43]:
ticker.quarterly_cashflow

,2019-09-30,2019-06-30,2019-03-31,2018-12-31
Investments,2.071000e+09,-2.925000e+09,1.471000e+09,1.100000e+09
Change To Liabilities,-3.439000e+09,1.026900e+10,-1.770000e+08,-2.562000e+09
Total Cashflows From Investing Activities,-1.776000e+09,-7.257000e+09,-1.363000e+09,-4.200000e+09
Net Borrowings,-2.500000e+09,-1.000000e+09,-1.000000e+09,-3.000000e+09
Total Cash From Financing Activities,-1.020900e+10,-8.686000e+09,-7.601000e+09,-1.321600e+10
Change To Operating Activities,-3.681000e+09,9.580000e+08,4.570000e+08,-2.200000e+07
Issuance Of Stock,4.270000e+08,3.080000e+08,2.740000e+08,2.000000e+08
Net Income,1.067800e+10,1.318700e+10,8.809000e+09,8.420000e+09
Change In Cash,1.761000e+09,1.440000e+08,4.574000e+09,-8.499000e+09
Repurchase Of Stock,-4.912000e+09,-4.633000e+09,-4.753000e+09,-6.413000e+09
Effect Of Exchange Rate,-7.200000e+07,-2.100000e+07,1.800000e+07,1.700000e+07
Total Cash From Operating Activities,1.381800e+10,1.610800e+10,1.352000e+10,8.900000e+09
Depreciation,2.971000e+09,2.842000e+09,2.926000e+09,2.995000e+09
Dividends Paid,-3.510000e+09,-3.521000e+09,-3.526000e+09,-3.544000e+09
Change To Inventory,-5.610000e+08,-1.130000e+08,1.200000e+07,1.654000e+09
Change To Account Receivables,1.009000e+10,-1.007000e+10,4.600000e+08,-2.396000e+09
Other Cashflows From Financing Activities,2.860000e+08,1.600000e+08,4.040000e+08,-4.590000e+08
Change To Netincome,1.096000e+09,-4.773000e+09,7.570000e+08,8.750000e+08
Capital Expenditures,-3.385000e+09,-4.051000e+09,-2.565000e+09,-3.707000e+09

In [44]:
ticker.earnings

           Revenue     Earnings
Year
2016   91154000000  20539000000
2017   96571000000  25489000000
2018  110360000000  16571000000
2019  125843000000  39240000000

In [45]:
ticker.quarterly_earnings

             Revenue     Earnings
Quarter
4Q2018   32471000000   8420000000
1Q2019   30571000000   8809000000
2Q2019   33717000000  13187000000
3Q2019   33055000000  10678000000

### Sustainability: Environmental, Social and Governance (ESG)

In [47]:
ticker.sustainability

                                     Value
2019-11
palmOil                              False
controversialWeapons                 False
gambling                             False
socialScore                          70.81
nuclear                              False
furLeather                           False
alcoholic                            False
gmo                                  False
catholic                             False
socialPercentile                     96.27
peerCount                              100
relatedControversy      Customer Incidents
governanceScore                      70.75
environmentPercentile                96.27
animalTesting                        False
tobacco                              False
totalEsg                              74.8
highestControversy                       3
esgPerformance                    OUT_PERF
coal                                 False
pesticides                           False
adult                                False
percentile                           95.85
peerGroup              Software & Services
smallArms                            False
environmentScore                     84.17
governancePercentile                 89.21
militaryContract                     False

### Analyst Recommendations

In [49]:
ticker.recommendations.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 220 entries, 2012-07-20 to 2019-10-28
Data columns (total 4 columns):
Firm          220 non-null object
To Grade      220 non-null object
From Grade    220 non-null object
Action        220 non-null object
dtypes: object(4)
memory usage: 8.6+ KB

In [51]:
ticker.recommendations.tail(10)

                       Firm    To Grade From Grade Action
Date
2019-07-19  Stifel Nicolaus         Buy              main
2019-07-19   Morgan Stanley  Overweight              main
2019-10-08        Jefferies         Buy       Hold     up
2019-10-24      BMO Capital  Outperform              main
2019-10-24          Wedbush  Outperform              main
2019-10-24         Barclays  Overweight              main
2019-10-24           Stifel         Buy              main
2019-10-24             Citi     Neutral              main
2019-10-24   Morgan Stanley  Overweight              main
2019-10-28           Mizuho         Buy              main

### Upcoming Events

In [52]:
ticker.calendar

                                    0                    1
Earnings Date     2020-01-28 00:00:00  2020-02-03 00:00:00
Earnings Average                 1.32                 1.32
Earnings Low                     1.27                 1.27
Earnings High                    1.37                 1.37
Revenue Average           35700900000          35700900000
Revenue Low               35346900000          35346900000
Revenue High              36145000000          36145000000

### Option Expiration Dates

In [108]:
ticker.options

('2019-11-28',
 '2019-12-05',
 '2019-12-12',
 '2019-12-19',
 '2019-12-26',
 '2020-01-02',
 '2020-01-16',
 '2020-02-20',
 '2020-03-19',
 '2020-04-16',
 '2020-05-14',
 '2020-06-18',
 '2020-07-16',
 '2020-09-17',
 '2021-01-14',
 '2021-03-18',
 '2021-06-17',
 '2022-01-20')

In [112]:
options = ticker.option_chain('2019-12-05')

In [113]:
options.calls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 14 columns):
contractSymbol       35 non-null object
lastTradeDate        35 non-null datetime64[ns]
strike               35 non-null float64
lastPrice            35 non-null float64
bid                  35 non-null float64
ask                  35 non-null float64
change               35 non-null float64
percentChange        35 non-null float64
volume               34 non-null float64
openInterest         35 non-null int64
impliedVolatility    35 non-null float64
inTheMoney           35 non-null bool
contractSize         35 non-null object
currency             35 non-null object
dtypes: bool(1), datetime64[ns](1), float64(8), int64(1), object(3)
memory usage: 3.7+ KB

In [111]:
opt.calls.head()

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,MSFT191206C00110000,2019-11-19 19:42:32,110.0,42.05,41.35,41.50,0.000000,0.000000,1.0,1,1.031255,True,REGULAR,USD
1,MSFT191206C00120000,2019-11-26 17:51:23,120.0,32.06,30.90,33.20,0.000000,0.000000,1.0,4,1.233891,True,REGULAR,USD
2,MSFT191206C00124000,2019-11-18 19:08:39,124.0,26.35,26.80,28.60,0.000000,0.000000,1.0,1,0.930665,True,REGULAR,USD
3,MSFT191206C00125000,2019-11-29 16:38:49,125.0,26.69,25.75,27.95,-1.109999,-3.992801,4.0,189,0.975586,True,REGULAR,USD
4,MSFT191206C00126000,2019-10-30 22:12:43,126.0,18.00,24.90,26.90,0.000000,0.000000,NaN,2,0.964844,True,REGULAR,USD

In [66]:
opt.puts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 14 columns):
contractSymbol       49 non-null object
lastTradeDate        49 non-null datetime64[ns]
strike               49 non-null float64
lastPrice            49 non-null float64
bid                  49 non-null float64
ask                  49 non-null float64
change               49 non-null float64
percentChange        49 non-null float64
volume               40 non-null float64
openInterest         49 non-null int64
impliedVolatility    49 non-null float64
inTheMoney           49 non-null bool
contractSize         49 non-null object
currency             49 non-null object
dtypes: bool(1), datetime64[ns](1), float64(8), int64(1), object(3)
memory usage: 5.1+ KB

## Data Download with proxy server

In [ ]:
msft = yf.Ticker("MSFT")

msft.history(..., proxy="PROXY_SERVER")
msft.get_actions(proxy="PROXY_SERVER")
msft.get_dividends(proxy="PROXY_SERVER")
msft.get_splits(proxy="PROXY_SERVER")
msft.get_balance_sheet(proxy="PROXY_SERVER")
msft.get_cashflow(proxy="PROXY_SERVER")
msgt.option_chain(..., proxy="PROXY_SERVER")

## Downloading multiple symbols

In [67]:
tickers = yf.Tickers('msft aapl goog')

In [68]:
tickers

yfinance.Tickers object <MSFT,AAPL,GOOG>

In [76]:
pd.Series(tickers.tickers.MSFT.info)

zip                                                                  98052
sector                                                          Technology
fullTimeEmployees                                                   144000
longBusinessSummary      Microsoft Corporation develops, licenses, and ...
city                                                               Redmond
                                               ...
lastCapGain                                                           None
shortPercentOfFloat                                                 0.0083
sharesShortPriorMonth                                             57149134
category                                                              None
fiveYearAverageReturn                                                 None
Length: 123, dtype: object

In [ ]:
tickers.tickers.AAPL.history(period="1mo")

In [84]:
tickers.history(period='1mo').stack(-1)

[*********************100%***********************]  3 of 3 completed

                       Close  Dividends         High          Low  \
Date
2019-10-30 AAPL   242.531845        0.0   244.565747   240.487994
           GOOG  1261.290039        0.0  1269.359985  1252.000000
           MSFT   144.119598        0.0   144.508275   142.305763
2019-10-31 AAPL   248.015381        0.0   248.424157   236.549804
           GOOG  1260.109985        0.0  1267.670044  1250.843018
...                      ...        ...          ...          ...
2019-11-27 GOOG  1312.989990        0.0  1318.359985  1309.630005
           MSFT   152.320007        0.0   152.500000   151.520004
2019-11-29 AAPL   267.250000        0.0   267.989990   265.899994
           GOOG  1304.959961        0.0  1310.204956  1303.969971
           MSFT   151.380005        0.0   152.289993   151.285004

                        Open  Stock Splits    Volume
Date
2019-10-30 AAPL   244.027355             0  31130500
           GOOG  1252.969971             0   1408900
           MSFT   143.033298             0  18496600
2019-10-31 AAPL   246.499942             0  34790500
           GOOG  1261.280029             0   1455700
...                      ...           ...       ...
2019-11-27 GOOG  1315.000000             0    995600
           MSFT   152.330002             0  15184400
2019-11-29 AAPL   266.600006             0  10584652
           GOOG  1307.119995             0    561987
           MSFT   152.100006             0  11270352

[66 rows x 7 columns]

In [85]:
tickers.download(actions

AttributeError: 'Tickers' object has no attribute 'actions'

In [86]:
data = yf.download("SPY AAPL", start="2017-01-01", end="2017-04-30")

[*********************100%***********************]  2 of 2 completed

In [87]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 81 entries, 2017-01-03 to 2017-04-28
Data columns (total 12 columns):
(Adj Close, AAPL)    81 non-null float64
(Adj Close, SPY)     81 non-null float64
(Close, AAPL)        81 non-null float64
(Close, SPY)         81 non-null float64
(High, AAPL)         81 non-null float64
(High, SPY)          81 non-null float64
(Low, AAPL)          81 non-null float64
(Low, SPY)           81 non-null float64
(Open, AAPL)         81 non-null float64
(Open, SPY)          81 non-null float64
(Volume, AAPL)       81 non-null int64
(Volume, SPY)        81 non-null int64
dtypes: float64(10), int64(2)
memory usage: 8.2 KB

In [ ]:
data = yf.download(
        tickers = "SPY AAPL MSFT", # list or string

        # use "period" instead of start/end
        # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
        # (optional, default is '1mo')
        period = "ytd",

        # fetch data by interval (including intraday if period < 60 days)
        # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
        # (optional, default is '1d')
        interval = "1m",

        # group by ticker (to access via data['SPY'])
        # (optional, default is 'column')
        group_by = 'ticker',

        # adjust all OHLC automatically
        # (optional, default is False)
        auto_adjust = True,

        # download pre/post regular market hours data
        # (optional, default is False)
        prepost = True,

        # use threads for mass downloading? (True/False/Integer)
        # (optional, default is True)
        threads = True,

        # proxy URL scheme use use when downloading?
        # (optional, default is None)
        proxy = None
    )

In [96]:
from pandas_datareader import data as pdr

import yfinance as yf
yf.pdr_override()

# download dataframe
data = pdr.get_data_yahoo('SPY',
                          start='2017-01-01',
                          end='2019-04-30',
                          auto_adjust=False)

[*********************100%***********************]  1 of 1 completed

In [95]:
# auto_adjust = True
data.tail()

                  Open        High         Low       Close    Volume
Date
2019-04-24  290.033485  290.399997  289.320262  289.478760  50392900
2019-04-25  289.369763  290.023553  287.992865  289.300415  57770900
2019-04-26  289.350010  290.726908  288.498091  290.647675  50916400
2019-04-29  290.746706  291.677858  290.647641  291.103302  57197700
2019-04-30  290.726883  291.568887  289.171687  291.251892  81111700

In [97]:
# auto_adjust = False
data.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-04-24,292.790009,293.160004,292.070007,292.230011,289.478760,50392900
2019-04-25,292.119995,292.779999,290.730011,292.049988,289.300415,57770900
2019-04-26,292.100006,293.489990,291.239990,293.410004,290.647675,50916400
2019-04-29,293.510010,294.450012,293.410004,293.869995,291.103302,57197700
2019-04-30,293.489990,294.339996,291.920013,294.019989,291.251892,81111700